:root{
    --main-color: #d7c7ae;
    --primary-color: #8a6d46;
    --hover: #5a4d3e;
    --black: #2a201c;
    --white: #fff;
    --light-bg: #f3efec;
    --dark-bg: rgba(0,0,0,.7);
    --border: .1rem solid #aaa;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
    transition: all .2s linear;
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    background: #d7c7ae;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: .6rem;
}

html::-webkit-scrollbar-track{
    background-color: white;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

section{
    padding: 2rem 4.5%;
}

.heading{
    text-align: center;

}

/* header  */

header {
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    left: 0; right: 0;
    background-color: #d1ab7a;
    margin: 0 auto;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
}
/* header  */

/* nav  */
.logo {
    font-size: 2.5rem;
    margin: .5rem;
    font-weight: bolder;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #d1ab7a;
    color: rgb(31, 17, 17);
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    color:rgb(31, 17, 17);
    padding: 1rem;
    display: block;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.navbar-links li:hover {
    background-color: rgb(222, 193, 149);
    padding-bottom: 0.5rem;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* nav  */

/* main */
.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.main .content{
    max-width: 60rem;
}

.main .content span{
    font-size: 3rem;
    letter-spacing: .5rem;
    padding-bottom: .5rem;
    color: #8a6d46;
    text-transform: uppercase;
}

.main .content h3 {
    color: rgb(31, 17, 17);
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 700;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

/* main */





/* @media  */

/* .navbar-links */
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    
    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}