.grid-container{
    display: grid;
    grid-template-columns: 200px 250px;
    grid-auto-rows: repeat(3, 1fr) minmax(150px, auto);
    grid-gap: 20px;
    /* justify-items: stretch;
    align-items: stretch; */
    /* justify-content: center;
    align-content: center;
    height: 100vh; */
    /* grid-template-areas: 
    "header header"
    "sidbar content"
    "sidbar content"; */
}

.grid-item{
    background-color: lightblue;
    border: 1px solid black;

}

.grid-item-1{
    /* align-self: start;
    justify-self: center; */
    /* grid-column: 1 / -1; */
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-area: header; */
    /* grid-row: span 1; */
}

.grid-item-2 {
    /* grid-area: sidebar; */
    /* grid-row-start: 2; */
    /* grid-row-end: 4; */
}

.grid-item-3 {
    /* grid-area: content; */
    /* grid-row-start: 2; */
    /* grid-row-end: 4; */
}